body, html{
  height: 100%;
}

body{
  background-image: url(../images/thomas-portrait-filter-low.jpg);
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  overflow: hidden;
}

a{
  color: inherit;
}

a:hover{
  color: #ddd;
}

.content{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.content__inner{
  padding-left: 20px;
  padding-right: 20px;
}

.logo{
  width: 100%;
}

@media (min-width: 768px) {
  .logo{
    width: 400px;
  } 
}

.text-center{
  text-align: center;
}

.icons{
  margin-top: 30px;
}

.social__link{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  text-decoration: none;
}