body, html {
  height: 100%;
}

body {
  background-image: url(../images/thomas-herman-feast-1400.jpg);
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  letter-spacing: 1px;
  overflow: hidden;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 50px;
  letter-spacing: 8px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 480px) {
  h2 {
    font-size: 70px;
  }
}

h4 {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 480px) {
  h4 {
    font-size: 20px;
  }
}

a {
  color: inherit;
  transition: color .15s;
}

a:hover {
  color: #b1d4c9;
}

.content {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
}

.content__inner {
  padding-left: 20px;
  padding-right: 20px;
}

.content__padding {
  padding-bottom: 30px;
}

@media (min-width: 480px) {
  .content__padding {
    padding-bottom: 50px;
  }
}

.logo {
  width: 150px;
}

@media (min-width: 480px) {
  .logo {
    width: 150px;
  }
}

.m-t-40 {
  margin-top: 40px;
}

.m-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.icons {
  margin-top: 30px;
}

.social__link {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  text-decoration: none;
}